__pycache__
.venv
.env
env
data.py
example.py
PEM_FILE.pem

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/secrets.tf
terraform/.terraform.tfstate.lock.info